* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2a6f4d;
  overflow: hidden;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.img-fundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.img-logo {
  width: 700px;
  margin-bottom: 10px;
  margin-top: -100px
}

.img-login {
  width: 60px;
  height: 35px;
  margin-right: 0px; 
}

.box-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: -100px;
}

.input-login{
  margin-left:-63px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

input {
  width: 600px;
  padding: 15px;
  font-size: 25px;
  text-align: center;
  background: transparent;
  border: 1px solid yellow;
  border-radius: 30px;
  color: yellow;
  outline: none;
}

input:hover{
  background: rgb(0,0,0,0.3)
}

input::placeholder {
  color: yellow;
  opacity: 1;
  font-style: italic;
  letter-spacing: 3px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-top: 0px;
}

a:hover {
  text-decoration: underline;
}

.cadastrar {
  font-weight: bold;
  color: yellow;
  font-size: 16px;
  letter-spacing: 3px;
  margin-top: 10px;
  background: rgb(0,0,0,0.3);
  background-size: 1000px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid yellow;
}

.botao-enviar{
  font-weight: bold;
  color: yellow;
  font-size: 16px;
  letter-spacing: 3px;
  margin-top:50px;
  gap: 10px;
  background: rgb(0,0,0,0.3);
  background-size: 1000px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid yellow;
}
.cadastrar:hover{
  background: rgb(0,0,0,0.5);
  text-decoration: none;
}
