body{
    background-image: url(/assets/img/Background_Transporte.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
body.Transporte{
    background-image: url(/assets/img/Background_Transporte.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body.agua{
    background-image: url(/assets/img/Background_Agua.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body.Energia{
    background-image: url(/assets/img/Background_Eletricidade.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body.Lixo{
    background-image: url(/assets/img/Background_Lixo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
div.fundo{
    height: 100vh;
    pointer-events: none;
}
div.diteita{
    height: 100vh;
    width: 50vw;
    position: absolute;
    align-items: center;
    text-align: center;
}
div.esquerda{
    height: 100vh;
    width: 50vw;
    position: absolute;
    align-items: center;
    text-align: center;

}
form{
    margin-top: 30vh;
    pointer-events: all;
    text-align: left;
    margin-left: 200px;
}
select{
    height: 100px;
    width: 550px;
    background: none;
    border-radius: 50px;
    border-color: yellow;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    color: yellow;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
}
option{
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    color: yellow;
    background-color: #006c38;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}
input{
    height: 75px;
    width: 500px;
    background: none;
    border-radius: 50px;
    border-color: yellow;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    color: yellow;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
input.data{
    height: 75px;
    width: 250px;
}
input::placeholder{
    color: yellow;
    font-size: 20px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: yellow;            
    font-size: 20px;        
    cursor: pointer;        
    border-radius: 50%;     
    padding: 5px;           
}
input[type="date"]::placeholder{
    font-size: 20px;
}
button{
    background-color: #f2ff00;
    width: 250px;
    height: 75px;
    border-radius: 37.5px;
    cursor: pointer;
    font-size: 20px;
}
h2{
    position: absolute;
    top: 45vh;
    right: 300px; 
    transform: translateY(-50%); 
    font-size: 60px;
    font-weight: bold;
    color: #f2ff00;
}

.menu-img-logo{
    position:absolute;
    left:37%;
    top: 50px;
    width: 350px;
  }
