* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    background-color: black;
}
.container {
    display: flex;
    justify-content: 0;
    max-height: 100vh;
    overflow:hidden;
}
.column {
    flex: 1;
    padding: 0px;
    margin: 0px;
    background-color: #f4f4f4;
    align-items: center;
    width: 25vw;
    height: 100vh;
}
.column-lixo{
    background-image: url(../img/Background_Lixo_Home.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    transition: transform 0.8s ease-in-out;
}
.column-energia{
    background-image: url(../img/Background_Eletricidade_Home.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    transition: transform 0.8s ease-in-out;
}
.column-transporte{
    background-image: url(../img/Background_Transporte_Home.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    transition: transform 0.8s ease-in-out;
}
.column-agua{
    background-image: url(../img/Background_Agua_Home.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    transition: transform 0.8s ease-in-out;
}
div.column a{
    text-decoration: none;
}
div.column a p{
    text-align: center;
    margin-top: 50vh;
    background: none;
    color:#f2ff00;
    font-size: 35px;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.column:hover {
    transform: scale(1.2)
}

section.container2{
  background:white;
  display:flex;
  justify-content: center;
  height: 100vh;
}

.container2 div{
  max-height: 100vh;
}
  

  